<h1>Add javascript showing locations. </h1>
<h4>Find ways to filter, get icons to represent</h4>

<div class="col-md-6" id="map"></div>
<div class="col-md-6">
  <div class="row">
    <div class="col-sm-2">
      <h3 class="filter-h3">Beer</h3>
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-lg btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
        <div class="handle"></div>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h3 class="filter-h3">Wine</h3>
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-lg btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
        <div class="handle"></div>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h3 class="filter-h3">Liquor</h3>
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-lg btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
        <div class="handle"></div>
      </button>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCczr19bUvevRjoBOSzoW5THnrcAL8m6dA&callback=initMap"
        type="text/javascript"></script>
